@font-face {
    font-family: 'facebook-iconfont';
    src:  url('fonts/facebook-iconfont.eot');
    src:  url('fonts/facebook-iconfont.eot') format('embedded-opentype'),
        url('fonts/facebook-iconfont.ttf') format('truetype'),
        url('fonts/facebook-iconfont.woff') format('woff'),
        url('fonts/facebook-iconfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'facebook-iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

body {
    margin: 0;
    background-color: #dcdee3;
}
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 10px 30px;
    background-color: #3b5998;
    z-index: 2;
    position: fixed;
    width: 100vw;
    top: 0;
}

.clearfixedheader{
    height: 69px;
}

.animate-top{
    position:relative;
    animation:animatetop 0.4s
}

@keyframes animatetop{
    from{
        top:-300px;
        opacity:0
    }
    to{
        top:0;
        opacity:1
    }
}

header img {
    height: 50px;
    float: left;
}
header .notificationglobe {
    display: block;
    text-decoration: none;
    float: right;
    color: #18243d;
    margin-top: 0px;
    position: relative;
}
header .notificationglobe.active {
    color: #FFF
}
header .notificationglobe .icon{
    font-size: 30px;
}

header .notificationglobe .notification-amount{
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 2px;
    background-color: #f43b46;
    padding: 2px 4px 2px 4px;
    display: none;
}
header .notificationglobe.active .notification-amount{
    display: block;
}

.leftImage{
    position:relative;
    animation:animateleft 1s
}

@keyframes animateleft{
    from{
        left:-300px;
        opacity:0
    }
    to{
        left:0;
        opacity:1
    }
}

.rightImage{
    position:relative;
    animation:animateright 1s
}
@keyframes animateright{
    from{
        right:-300px;
        opacity:0
    }
    to{
        right:0;
        opacity:1
    }
}

.postIntro ul{
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
}

.postIntro li{
    float: left;
    padding: 0;
    margin: 0;
    width: 20%;
    margin: 20px 15% 30px 15%;
}

.introImage{
    width: 100%;
    padding: 0;
    margin: 0 0 10px 0;
}

.postIntro h4{
    color: white;
    text-align: center;
    font-weight: 300;
    padding: 0;
    margin: 0;
    font-size: 10pt;
}

.cf:before, .cf:after {
    content: " "; display: table;
}
.cf:after {
    clear: both;
}

.postIntro {
    background-color: #4466ae;
    margin: -69px 0 0 0;
    height: 100vh;
    padding: 89px 30px 20px 30px;
    font-size: 14pt;
}

.postIntro h3{
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 20pt;
    text-align: center;
    margin: 0 0 15px 0;
    padding: 0 0 0 0;
    text-transform: uppercase;
}

.postIntro p{
    color: #ffffff;
    font-weight: 300;
    font-size: 11pt;
    padding: 5px 5px 5px 5px;
    margin: 5px 0 10px 0;
    text-align: center;
}

.buttonIntro{
    margin: 0;
    position: absolute;
    text-align: center;
    bottom: 40px;
    left: 10%;
    right: 0;
    width: 80%;
    font-size: 13pt;
    border: none;
    border-radius: 3px;
    padding: 0.5em 2em;
    background-color: #ffffff;
    color: #3b5998;
    display: block;
}

.post {
    background-color:#FFF;
    margin-top: 15px;
    padding: 20px 30px 0 30px;
    z-index: 1;
}
.post .post-header > img {
    width: 45px;
}
.post.nonactive {
    opacity: 0.5;
}

.post-header img {
    float: left;
}
.post-header h2, .post-header .post-info p {
    margin: 0px 0 0 55px;
    font-size: 10pt;
}
.post-header .post-info p {
    margin: 2px 0 0 55px;
}
.post-header h2, .post-content p {
    font-size: 12pt;
}
.post-content p{
    margin: 12px 0 12px 0px;
}
.post-header .post-info p {
    color: #9197a3;
}

.post-content .article {
    border: 1px solid #dcdee3;
    margin-bottom: 1em;
    box-shadow: 2px 2px 2px #EEE;
}
.post-content .article img {
    width: 100%;
}

.post-content .article h3 {
    margin: 1em 0.8em;
    font-size: 16px;
}

.post-likesamount .likesamount, .post-likesamount .dislikesamount{
    display: inline-block;
    margin-right: 1em;
    color: #9197a3;
}
.post-likesamount .icon {
    font-size: 13pt;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.post-likesamount .likesamount .icon {
    color: #5e91ff;
}
.post-likesamount .dislikesamount .icon {
    color: #f25268;
}

.post-likesamount  {
    margin-bottom: 1em;
}
.post-actions {
    border-top: 1px solid #dcdee3;
}
.post-actions .action{
    width: 50%;
    float: left;
    text-align: center;
    padding: 15px 0 15px 0
}
.post-actions .action a {
    text-decoration: none;
    color: #4e5665;
    font-weight: 700;
    font-size: 12pt;
}
.post-actions .action.chosen:nth-child(1) a {
    color: #5e91ff;
}
.post-actions .action.chosen:nth-child(2) a {
    color: #f25268;
}
.post-actions .action a .icon{
    font-size: 18pt;
    vertical-align: middle;
    margin-right: 6px
}


.cf:before, .cf:after {
    content: " "; display: table;    
}

.cf:after { 
    clear: both; 
}